.sub_title{
  margin: 20px 0;
  font-size: 25px;
  font-weight: 500;
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.list .item{
  border: 1px solid #000;
  border-radius: 15px;
  padding:7px;
  cursor: pointer;
  text-align: center;
}
.item.active{
  background-color: #A3E635;
  border: 2px solid #A3E635;
  color: #fff;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #c4c4c4;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input{
  border: none;
  padding: 0 10px;
  font-size: 20px;
}
.icon{
  font-size: 35px;
  padding: 7px;
  background-color: #e9ecef;
}
.input:focus{
  outline: none;
}
@media (max-width: 1200px){
  .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
  }
  .sub_title{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
  }
  .list .item{
   font-size: 16px;
  }
}