.BackWardBtnIn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
    margin: 40px 0;
}
.icon{
    font-weight: 400;
    font-size: 18px;
    margin: 0 20px;
}