.inner {
  padding-top: 103px;
}
.back {
  padding: 20px 50px;
}
.content {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}
.content_tours {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}
.content_tours:nth-child(even) .wrapper {
  margin: 10px;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .content_tours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
