.inner{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 10px;
}
.PopularTour h2{
    margin: 70px 0;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 500;
}
@media (max-width:1320px){
    .inner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}
@media (max-width:1024px){
    .inner{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }
}
@media (max-width:530px){
    .inner{
        display: flex;
        flex-wrap: wrap;
        
    }
}